<a href="https://colab.research.google.com/github/Esther-Opeyemi/Activity1/blob/master/QUIZ_PYTHON_PROGRAMMING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Import important libraries
import numpy as np
import pandas as pd

In [15]:
import pandas as pd

# URL of the CSV file
url = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'

# Read the CSV file from the URL into a pandas DataFrame with 'latin1' encoding
foodbalance_data = pd.read_csv(url, encoding='latin1')

# Display the DataFrame
foodbalance_data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [18]:
foodbalance_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [16]:
foodbalance_data.describe(include='all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [20]:
#check for missing data
foodbalance_data.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

Q2. total number and percentage of missing data 2014

In [101]:
#check for total missing data 2014
foodbalance_data.Y2014.isnull().sum().sum()

1589

In [102]:
foodbalance_data.Y2014.isnull().sum().sum()

89

In [106]:
#Q3
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
x

8

In [108]:
##Q5 least correlation with ‘Element Code’
correlations = foodbalance_data.iloc[:, 4:].corrwith(foodbalance_data['Element Code'])
least_correlated_year = correlations.idxmin()
least_correlated_year

<ipython-input-108-cbd7617a3426>:2: FutureWarning: The default value of numeric_only in DataFrame.corrwith is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlations = foodbalance_data.iloc[:, 4:].corrwith(foodbalance_data['Element Code'])

'Y2016'

In [110]:
#Q7
Year_Area = foodbalance_data[['Y2017', 'Area']]
grouped = Year_Area.groupby('Area').sum()
sorted_df = grouped.sort_values('Y2017')
result = sorted_df.iloc[6]
area_name = result.name
area_name

'Guinea-Bissau'

In [113]:
##Q10 Area with the highest sum in 2017
H_area = foodbalance_data.groupby('Area')['Y2017'].sum()
H_area.idxmax()

'Nigeria'

In [114]:
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])
array[ : 2, 1 : ]

TypeError: ignored

Q12 total sum of Wine produced in 2015 and 2018 respectively

In [115]:
foodbalance_data.groupby('Item')['Y2015'].sum()

Item
Alcohol, Non-Food        2180.00
Alcoholic Beverages     98783.72
Animal Products         11811.73
Animal fats            200675.72
Apples and products     10559.15
                         ...
Vegetables, Other      158104.08
Vegetal Products       107064.17
Wheat and products     234710.51
Wine                     4251.81
Yams                   203151.78
Name: Y2015, Length: 119, dtype: float64

In [116]:
foodbalance_data.groupby('Item')['Y2018'].sum()

Item
Alcohol, Non-Food        2293.00
Alcoholic Beverages     97847.27
Animal Products         11578.61
Animal fats            269648.27
Apples and products      9640.51
                         ...
Vegetables, Other      163987.21
Vegetal Products       107775.39
Wheat and products     242645.19
Wine                     4039.32
Yams                   221272.09
Name: Y2018, Length: 119, dtype: float64

In [118]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [120]:
#total number of the sum of Processing in 2017
foodbalance_data.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [131]:
#total number of unique countries in the dataset?
foodbalance_data['Area'].nunique()

49

In [43]:
#standard deviation across the whole dataset for the year 2017
df_2017 = foodbalance_data[['Y2017']]
mean_2017 = df_2017.mean().round(3)
std_2017 = df_2017.std().round(3)

In [45]:
mean_2017

Y2017    140.918
dtype: float64

In [44]:
std_2017

Y2017    1671.862
dtype: float64

In [52]:
foodbalance_data.groupby('Area')['Y2017'].count()

Area
Algeria                        1279
Angola                         1407
Benin                          1253
Botswana                       1368
Burkina Faso                   1383
Cabo Verde                     1193
Cameroon                       1441
Central African Republic       1262
Chad                           1281
Comoros                          45
Congo                          1395
Côte d'Ivoire                  1454
Djibouti                       1061
Egypt                          1458
Eswatini                       1251
Ethiopia                       1428
Ethiopia PDR                     39
Gabon                          1206
Gambia                         1116
Ghana                          1333
Guinea                         1383
Guinea-Bissau                  1076
Kenya                          1548
Lesotho                        1110
Liberia                        1135
Madagascar                     1425
Malawi                         1411
Mali                           1243
Mauritania                     1108
Mauritius                      1340
Morocco                        1369
Mozambique                     1406
Namibia                        1269
Niger                          1365
Nigeria                        1457
Rwanda                         1397
Sao Tome and Principe          1122
Senegal                        1452
Seychelles                       68
Sierra Leone                   1191
South Africa                   1395
Sudan                          1279
Sudan (former)                   53
Togo                           1234
Tunisia                        1314
Uganda                         1435
United Republic of Tanzania    1409
Zambia                         1425
Zimbabwe                       1365
Name: Y2017, dtype: int64

In [97]:
foodbalance_data.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [42]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: ignored